<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="./static/speedx.css">
    <!-- Mobile Responsive -->
    <link rel="stylesheet" media="screen and (max-width:830px)" href="phone.css">

</head>
<body>
  <script src="./static/speedx.js"></script>
    
  <section class="showcase">
    <header>
      <h2 class="logo">SpeedX</h2>
    </header>
    <video src="https://traversymedia.com/downloads/videos/explore.mp4" muted loop autoplay></video>
    <div class="overlay"></div>
    <div class="text">
      <h2>Never Stop To </h2> 
      <h3>Delivering The World</h3>
      <p> <h4> Fastest delivery | Customer Friendly | 24*7 Customer Support </h4></p>
      <a href="/signin/signin.html">Sign In</a>
      <a href="index.html">Explore</a>
    </div>
    
  </section>
  
</body>
</html>