<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | SpeedX</title>
    <link rel="icon" type="image/x-icon" href="https://drive.google.com/uc?export=download&id=1m6uFt-6qXi2FW50tiJrUM1ABculORKFy">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Mobile Responsive -->
    <link rel="stylesheet" media="screen and (max-width:830px)" href="phone.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Custom Css -->
    <link rel="stylesheet" href="speedx.css">
    <link rel="stylesheet" href="speedx.scss">


    <!-- FontAwesome 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body>
    <!-- Navbar top -->
    <div class="MyProfile-navbar-top">
        <div class="My-profile-company-logo">
            <a href="/">
                <img src="images/SpeedX_free_file1.webp" alt="loading">
            </a>
        </div>
        <div class="MyProfile-title">
            <h1>Orders Dashboard</h1>
        </div>
    </div>
    <!-- End -->

    <!-- MyProfile-sidenav -->
    <div class="MyProfile-sidenav">
        <div class="MyProfile">
            <img src="images/userImage.webp" alt="" width="100" height="100">

            <div class="name">
                <%= user.name %>
            </div>

        </div>

        <div class="MyProfile-sidenav-MyProfile-url">
            <div class="MyProfile-url">
                <a href="/MyProfile" class="active">My Profile</a>
                <hr align="center">
            </div>
            <div class="MyProfile-url">
                <a href="">Orders</a>
                <hr align="center">
            </div>
            <div class="MyProfile-url">
                <a href="/">Home</a>
                <hr align="center">
            </div>
            <div class="MyProfile-url">
                <a href="/service">Services</a>
                <hr align="center">
            </div>

            <div class="MyProfile-url">
                <a href="/help">Help</a>
                <hr align="center">
            </div>
            <div class="MyProfile-url">
                <a onclick="logout()">Log Out</a>
                <hr align="center">
            </div>
        </div>
    </div>
    <!-- End -->

    <!-- MyProfile-main -->
    <div class="MyProfile-main">
        <h2>DASHBOARD</h2>
        <div id="myorderCards"></div>
    </div>
    <!-- End -->
    <script src="speedx.js"></script>
    <script src="myorder.js"></script>
    <script>
        myOrders(`<%= user.id %>`);
    </script>
    <script src="login.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>

</html>