<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services | SpeedX</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap" rel="stylesheet">
    <!-- Mobile Responsive -->
    <link rel="stylesheet" media="screen and (max-width:830px)" href="phone.css">

    <link rel="stylesheet" href="speedx.css">
    <link rel="stylesheet" href="speedx.scss">
</head>

<body>
       <!-- navigation bar start  -->


    <div class="main-div" id="main-nav-div">

        <ul type="none" class="nav-item">
            <nav class="navbar">
                <a href="/">
                    <p>
                        <h1> <img src="images/SpeedX_free_file1.webp" alt="" class="company-logo"> </h1>
                    </p>

                </a>

            </nav>
            <li><a href="/">Home</a></li>
            <li>
                <label for="services"></label>
                <select name="submenu" id="submenu" onclick="window.location.href=this.value;">

                    <option disabled selected value="#">Services</option>
                    <option value="/service">Daily Transportation</option>
                    <option value="/service">Packer's & Mover's </option>
                    <option value="/service">Logistics Services</option>

                </select>
            </li>
            <li><a href="/service"></a></li>
            <li><a href="/service"></a></li>
            <li><a href="/service">Blog</a></li>
            <!-- <li><a href="#">Media</a></li> -->
            <li><a href="/about">About&nbsp;Us</a></li>
            <li><a href="/help">Help</a></li>

            <li><a href="#"></a></li>
            <% if (user) { %>
                <li class="profile" id="profile-id"><a href="#">
                        <img src="images/userImage.webp" alt="lol" onclick="toggleMenu()">
                    </a>
                </li>
                <% } else { %>
                    <li class="home-signIn" id="Signin-id"><a href="/signin">Log&nbsp;In/Sign&nbsp;Up</a></li>
                    <% } %>
        </ul>
        <!-- code for side profile  -->
        <div class="profile-submenu-wrap" id="subMenu">
            <div class="profile-submenu">
                <div class="profile-userinfo">
                    <img src="images/userImage.webp" alt="">
                    <% if (user) { %>
                        <h1>Welcome, <%= user.name %>
                        </h1>
                        <!-- Display other user properties as needed -->
                        <% } else { %>
                            <h1>Welcome, Guest</h1>
                            <!-- Display a default message or empty values -->
                            <% } %>
                </div>
                <hr>

                <a href="/myprofile" class="profile-submenu-link">
                    <img src="images/editProfile.webp" alt="">
                    <p class="profile-submenu-link-text">My Profile</p>
                    <span class="profile-submenu-link-text">></span>
                </a>
                <a href="/Help.html" class="profile-submenu-link">
                    <img src="images/ProfileHelp.webp" alt="">
                    <p class="profile-submenu-link-text">Help & Support</p>
                    <span class="profile-submenu-link-text">></span>
                </a>
                <button class="profile-submenu-link" onclick="logout()">
                    <img src="images/logoutImage.webp" alt="">
                    <p id="logout-user" class="profile-submenu-link-text">Log Out</p>
                    <span class="profile-submenu-link-text">></span>
                </button>

            </div>
        </div>

    </div>

    <!-- navigation bar end  -->

    <!-- mobile navigation bar start -->
    <div class="main-mobile-nav">
        <div id="mySidebar" class="sidebar">
            <div class="cross-menu">
                <div class="multiply-menuicon crossItem-1">
                    <% if (user) { %>
                        <h1>Welcome, <%= user.name %>
                        </h1>
                        <!-- Display other user properties as needed -->
                        <% } else { %>
                            <h1>Welcome, Guest</h1>
                            <!-- Display a default message or empty values -->
                            <% } %>
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

                </div>

            </div>
            <a href="">Home</a>
            <a href="/myprofile">MyProfile</a>
            <div class="dropdown">
                <a class="dropbtn" href="/service">Services</a>
                <div class="dropdown-content">
                    <a href="/service">Daily Transportation</a>
                    <a href="/service">Packer's & Mover's </a>
                    <a href="/service">Logistics Services</a>
                </div>
            </div>
            <a href="#">Blog</a>
            <a href="/about">About Us</a>
            <a href="/help">Help</a>
            <% if (user) { %>
            <a onclick="logout()">Logout</a>
            <% } %>
        </div>

        <div class="main-sidebar-nav" id="main">
            <div class="main-sidebar-nav-item sidebar-1">
                <a class="openbtn" onclick="openNav()">&#9776;</a>
            </div>
            <div class="main-sidebar-nav-item sidebar-2">
                <a href=""> <img src="images/SpeedX_free_file1.webp" alt=""></a>
            </div>
            <div class="main-sidebar-nav-item sidebar-3">
              <a href="/signin">
                <h1>Login|SignUp</h1>

              </a>
            </div>




        </div>
    </div>
    <!-- mobile navigation bar end -->

    <!-- service main Image start  -->
    <div class="service-main-image-conatiner">
        <div class="service-main-image">
            <img src="images/service-mainimage.webp" alt="">

        </div>
        <div class="service-main-image-Quote">
            <h2>
                India’s largest goods & products
                delivery service
            </h2>
            <p>SpeedX is India's largest and fastest growing delivery service provider.
                SpeedX is here to deliver stuff between the cities as we have most safe and secure delivery service
                model.
            </p>
        </div>
    </div>
    <!-- service main Image End  -->

    <!-- Our Top services start ====================================================================== -->
    <div class="top-services-conatiner">
        <div class="top-service-header">
            <h1>Our Top Services </h1>
        </div>
        <div class="top-service-dailyTransportation" id="top-service-dailyTransportation-id">
            <h2>
                Daily Transportation
            </h2>
            <hr>
            <p>Book our daily delivery trucks or bike, whenever you want to deliver <br> any items like hardcopy
                files,
                gifts,some baggage etc.
                Our trucks & <br>
                bike transport on daily basis between the ciy.

                <img src="images/daily-transportation.webp" alt="">
            </p>
        </div>
        <div class="top-service-packers&movers" id="top-service-packers&movers-id">
            <h2>Packer's & Mover's</h2>
            <hr>
            <p>Book us on total home shifting accross the India from anywhere.
                <img src="images/packersandmovers.webp" alt="">
            </p>

        </div>
        <div class="top-service-logisticservice" id="top-service-logisticservice-id">
            <h2>Logistics Service</h2>
            <hr>
            <p>Book us for transporting bulk stuff.
                We guranteed safe and secure <br> delivery.
                <img src="images/logistics-service.webp" alt="">
            </p>
        </div>
    </div>

    <!-- Our Top services End ====================================================================== -->


    <!-- Safety And Security Start ================================================================== -->
    <div class="safety-heading">
        <p>Safety for all</p>
    </div>
    <div class="safety-maincontainer">


        <div class="safety-item safety-item1">
            <div class="safety-image safety-image1">
                <img src="images/safetysupport.webp" alt="">
            </div>
            <div class="safety-lines">
                <h1>We are here to provide 24*7 customer support.
                    whene you have doubt, please contact us and our top support team will resolve it.
                </h1>
            </div>
        </div>
        <div class="safety-item safety-item2">
            <div class="safety-image safety-image2">
                <img src="images/insurance.webp" alt="">
            </div>
            <div class="safety-lines">
                <h1> SpeedX provide insured delivery and
                    damage remitance up to Rs.10 lack depending upon the damages and the product. </h1>
            </div>

        </div>
        <div class="safety-item safety-item3">
            <div class="safety-image safety-image3">
                <img src="images/tracking.webp" alt="">
            </div>
            <div class="safety-lines">
                <h1>SpeedX provide 24*7 live tracking of your transporting goods.
                    You can check how long it takes to deliver and where it is.
                </h1>
            </div>

        </div>
        <div class="safety-item safety-item4">
            <div class="safety-image safety-image4">
                <img src="images/SecurePackage.webp" alt="">
            </div>
            <div class="safety-lines">
                <h1>SpeedX assured safe delivery. Our packaging is honored at the top, we do tough packaging so that
                    stuff will be delivered safely and securly. </h1>

            </div>
        </div>

    </div>
    <!-- Safety And Security End ================================================================== -->


    <!-- Footer Start  -->
    <div class="footerdeep">
        <footer id="site-footer">

            <section class="horizontal-footer-section" id="footer-top-section">
                <div id="footer-logo">
                    <picture>
                        <a href="index.html"><img src="images/SpeedX_free_file2.webp" alt="footer logo" role="presentation"></a>
                    </picture>
                </div>

            </section>

            <section class="horizontal-footer-section" id="footer-middle-section">
                <div id="footer-about" class="footer-columns footer-columns-large">
                    <h1>Our Address</h1>
                    <address>
                        <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/marker.webp">Vanjar Umar Road,
                            Gondegaon Jalna,Maharashtra,India
                            Pin-431213</p>
                        <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/phone.webp">+91 (983) 400–10–79</p>
                        <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/mail.webp">wagharjun609@gmail.com
                        </p>
                        <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/clock.webp">8:00 AM – 8:00 PM</p>
                    </address>
                    <h1> Our Newsletter</h1>
                    <a href="#" class="footer-button" role="button">Subscribe</a>
                </div>
                <div class="footer-columns">
                    <h1>Overview</h1>
                    <ul class="footer-column-menu" role="menu">
                        <li class="footer-column-menu-item" role="menuitem">
                            <a href="service.html" class="footer-column-menu-item-link">Services </a>
                        </li>

                        <li class="footer-column-menu-item" role="menuitem">
                            <a href="#" class="footer-column-menu-item-link">Careers</a>
                        </li>
                        <li class="footer-column-menu-item" role="menuitem">
                            <a href="Help.html" class="footer-column-menu-item-link">Help</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-columns">
                    <h1>Resources</h1>
                    <ul class="footer-column-menu" role="menu">
                        <li class="footer-column-menu-item" role="menuitem">
                            <a href="#faq-id" class="footer-column-menu-item-link">FAQs</a>
                        </li>
                        <li class="footer-column-menu-item" role="menuitem">
                            <a href="#" class="footer-column-menu-item-link">Media</a>
                        </li>
                        <li class="footer-column-menu-item" role="menuitem">
                            <a href="#" class="footer-column-menu-item-link">Blog</a>
                        </li>

                    </ul>
                </div>
                <div class="footer-columns">
                    <h1>Information</h1>
                    <ul class="footer-column-menu" role="menu">
                        <li class="footer-column-menu-item" role="menuitem">
                            <a href="AboutUs.html" class="footer-column-menu-item-link">About Us</a>
                        </li>
                        <li class="footer-column-menu-item" role="menuitem">
                            <a href="#" class="footer-column-menu-item-link">Terms of Use</a>
                        </li>
                        <li class="footer-column-menu-item">
                            <a href="#" class="footer-column-menu-item-link" role="menuitem">Legal Information</a>
                        </li>

                    </ul>
                </div>
            </section>

            <section class="horizontal-footer-section" id="footer-bottom-section">
                <div id="footer-copyright-info">
                    &copy; SpeedX Inc. 2023. All rights reserved.
                </div>
                <div id="footer-social-buttons">
                    <img src="https://img.icons8.com/ios-filled/25/999999/facebook--v1.webp" />
                    <img src="https://img.icons8.com/ios-filled/25/999999/telegram-app.webp" />
                    <img src="https://img.icons8.com/ios-filled/25/999999/pinterest--v1.webp" />
                    <img src="https://img.icons8.com/ios-filled/25/999999/instagram--v1.webp" />
                </div>
            </section>

        </footer>


    </div>

    <!-- Footer End  -->
    <script src="speedx.js"></script>
    <script src="login.js"></script>

</body>

</html>