<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In | SpeedX</title>
  <!-- Mobile Responsive -->
  <link rel="stylesheet" media="screen and (max-width:830px)" href="phone.css">

  <link rel="stylesheet" href="signin.css">
</head>

<body>
  <script src="signin.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <body>
    <div class="cotn_principal">
      <div class="cont_centrar">
        <div class="logo-signin-img">
          <img src="images/SpeedX_free_file1.png" alt="">
        </div>
        <div class="cont_login">
          <div class="cont_info_log_sign_up">
            <!-- LOGIN -->
            <div class="col_md_login">
              <div class="cont_ba_opcitiy">

                <h2>LOGIN</h2>
                <p>Welcome Back!</p>
                <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
              </div>
            </div>
            <!-- SIGNUP -->
            <div class="col_md_sign_up">
              <div class="cont_ba_opcitiy">
                <h2>SIGN UP</h2>


                <p>Hello Friend!</p>

                <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
              </div>
            </div>
          </div>


          <div class="cont_back_info">
            <div class="cont_img_back_grey">
              <img src="images/SignInImg2.jpg" alt="" />
            </div>

          </div>
          <!-- Forms for SignIn and Sign Up-->
          <div class="cont_forms">
            <div class="cont_img_back_">
              <img src="images/SignInImg1.jpg" alt="" style="width: 700px;" />
            </div>
            <div class="cont_form_login">
              <a onclick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
              <h2>LOGIN</h2>
              <form>
                <input type="text" class="inputfeilds"  id="emailLogin" placeholder="Email or Mobile No." />
                <input type="password" class="inputfeilds"  id="passLogin" placeholder="Password" />
                <a href="api/users/forgot">Forgot Password</a>
                <h5 style="color: red;" id="errorshowLogin"></h5>
                <button class="btn_login" type="submit">LOGIN</button>
              </form>
            </div>

            <div class="cont_form_sign_up">
              <a onclick="ocultar_login_sign_up()"Email or Mobile No.><i class="material-icons">&#xE5C4;</i></a>
              <h2>SIGN UP</h2>
              <form>
              <input type="text" class="inputfeilds" id="EmailSignup" placeholder="Email" />
              <input type="text" class="inputfeilds"  id="phoneSignup" placeholder="Mobile No." />
              <input type="text" class="inputfeilds"  id="usernameSignup" placeholder="Username" />
              <input type="password" class="inputfeilds"  id="passSignup" placeholder="Password" />
              <input type="password" class="inputfeilds"  id="c-passSignup" placeholder="Confirm Password" />
              <h5 id="errorshowSignup"></h5>
              <button class="btn_sign_up" type="submit">SIGN UP</button>
            </form>
            </div>

          </div>

        </div>
      </div>
    </div>
    <script>console.log(user.name)</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
    <script src="signin.js"></script>
    <script src="login.js"></script>
    <script src="signup.js"></script>
  </body>


</body>

</html>