<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help | SpeedX</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/193f0348b8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="speedx.css">
    <link rel="stylesheet" href="speedx.scss">


</head>

<body>

  <!-- navigation bar start  -->


  <div class="main-div">

    <ul type="none" class="nav-item">
        <nav class="navbar">
            <a href="/">
                <p>
                    <h1> <img src="images/SpeedX_free_file1.png" alt="" class="company-logo"> </h1>
                </p>

            </a>

        </nav>
        <li><a href="/">Home</a></li>
        <li>
            <label for="services"></label>
            <select name="submenu" id="submenu" onclick="window.location.href=this.value;">

                <option disabled selected value="#">Services</option>
                <option value="service.html">Daily Transportation</option>
                <option value="service.html">Packer's & Mover's </option>
                <option value="service.html">Logistics Services</option>

            </select>





        </li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#">Blog</a></li>
        <!-- <li><a href="#">Media</a></li> -->
        <li><a href="AboutUs.html">About&nbsp;Us</a></li>
        <li><a href="Help.html">Help</a></li>

        <li><a href="#"></a></li>

        <li class="home-signIn" id="Signin-id"><a href="signin/signin.html">Log&nbsp;In/Sign&nbsp;Up</a></li>


        <li class="profile" id="profile-id"><a href="MyProfile.html">
                <img src="images/userImage.png" alt="lol" onclick="toggleMenu()">
            </a>
        </li>
    </ul>
    <!-- code for side profile  -->
    <div class="profile-submenu-wrap" id="subMenu">
        <div class="profile-submenu">
            <div class="profile-userinfo">
                <img src="images/userImage.png" alt="">
                <h2>Prince Kumar</h2>
            </div>
            <hr>

            <a href="#" class="profile-submenu-link">
                <img src="images/editProfile.png" alt="">
                <p>Edit Profile</p>
                <span>></span>
            </a>
            <a href="/Help.html" class="profile-submenu-link">
                <img src="images/ProfileHelp.png" alt="">
                <p>Help & Support</p>
                <span>></span>
            </a>
            <a href="#" class="profile-submenu-link">
                <img src="images/logoutImage.png" alt="">
                <p>Log Out</p>
                <span>></span>
            </a>

        </div>
    </div>

</div>

<!-- navigation bar end  -->


    <!-- Help Center start ------------------------------------------------------------ -->
    <div class="help-container">
        <div class="help-item item1">
            <p class="help-title">
            <h1>Help Center</h1>
            </p>
            <p class="help-quote">
            <h3>Need assistance? We’re happy to help, reach us out through the appropriate channels below.</h3>
            </p>
        </div>
        <div class="help-item item2">
            <div class="help-flex-box help-box1">
                <img src="images/imageshelp2.png" alt="">
            </div>
            <div class="help-flex-box help-box2">
                <h2>CUSTOMER SUPPORT</h2>
                <br>
                <h3>Our support experts will help you with any problem
                    you're facing! Request a call (24/7 Suport) </h3>
                <h3>Call us on <i class="fa fa-phone-square aria-hidden=" true"></i> +91(983) 40010–79 </h3>
            </div>
        </div>
        <div class="help-item item3">
            <div class="help-flex-box help-box1">
                <img src="images/imageshelp3.png" alt="">
            </div>
            <div class="help-flex-box help-box2">
                <h2>HOUSE SHIFTING SERVICE</h2>
                <br>
                <h3>For queries regarding your house shifting booking, Call us on </h3>

                <h3> <i class="fa fa-phone-square aria-hidden=" true"></i> +91(983) 40010–79
                    <br>
                    or email us at <i class="fas fa-mailchimp fa-1x fa"></i>wagharjun609@gmail.com
                </h3>


            </div>
        </div>
        <div class="help-item item4">
            <div class="help-flex-box help-box1">
                <img src="images/imageshelp4.png" alt="">
            </div>
            <div class="help-flex-box help-box2">
                <h2>DRIVER SUPPORT
                </h2>
                <br>
                <h3>Are You a Van or Truck Driver? What are you waiting for.Please contact us <br> to join our company.
                </h3>

                <h3>Call us on <i class="fa fa-phone-square aria-hidden=" true"></i> +91(983) 40010–79 </h3>
            </div>
        </div>
        <div class="help-item item5">
            <div class="help-flex-box help-box1">
                <img src="images/imageshelp5.png" alt="">
            </div>
            <div class="help-flex-box help-box2">
                <h2>ENTERPRISES & WHOLESALER HELP</h2>
                <br>
                <h3>For support regarding bulk stuff transportation.Book us for safe and secure service.
                </h3>
                <h3>Call us on <i class="fa fa-phone-square aria-hidden=" true"></i> +91(983) 40010–79
                    <br>
                    or email us at <i class="fas fa-mailchimp fa-1x fa"></i>wagharjun609@gmail.com
                </h3>

            </div>
        </div>

    </div>
    <!-- Help Center end ------------------------------------------------------------ -->

    <!-- Quick Contact start------------------------------------------------------------------- -->
    <div class="quick-contact-main-container">
        <div class="quick-inner-container">
            <form id="QuickContact" action="" method="post">
                <h3>Quick Contact</h3>
                <h4>Contact us today, and get reply with in 24 hours!</h4>
                <fieldset>
                    <input placeholder="Your name" type="text" tabindex="1" required autofocus>
                </fieldset>
                <fieldset>
                    <input placeholder="Your Email Address" type="email" tabindex="2" required>
                </fieldset>
                <fieldset>
                    <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
                </fieldset>
                <!-- <fieldset>
            <input placeholder="Your Web Site starts with http://" type="url" tabindex="4" required>
          </fieldset>
          <fieldset> -->
                <textarea placeholder="Type your Message Here...." tabindex="5" required></textarea>
                </fieldset>
                <fieldset>
                    <button name="submit" type="submit" id="QuickContact-submit"
                        data-submit="...Sending">Submit</button>
                </fieldset>
            </form>


        </div>
    </div>



    <!-- Quick Contact end------------------------------------------------------------------- -->
    <!-- Footer Start  -->
    <div class="footerdeep">
        <footer id="site-footer">

            <section class="horizontal-footer-section" id="footer-top-section">
                <div id="footer-logo">
                    <picture>
                        <a href="/"><img src="images/SpeedX_free_file2.png" alt="footer logo" role="presentation"></a>
                    </picture>
                </div>

            </section>

            <section class="horizontal-footer-section" id="footer-middle-section">
                <div id="footer-about" class="footer-columns footer-columns-large">
                    <h1>Our Address</h1>
                    <address>
                        <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/marker.png">Vanjar Umar Road,
                            Gondegaon Jalna,Maharashtra,India
                            Pin-431213</p>
                        <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/phone.png">+91 (983) 400–10–79</p>
                        <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/mail.png">wagharjun609@gmail.com
                        </p>
                        <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/clock.png">8:00 AM – 8:00 PM</p>
                    </address>
                    <h1> Our Newsletter</h1>
                    <a href="#" class="footer-button" role="button">Subscribe</a>
                </div>
                <div class="footer-columns">
                    <h1>Overview</h1>
                    <ul class="footer-column-menu" role="menu">
                        <li class="footer-column-menu-item" role="menuitem">
                            <a href="service.html" class="footer-column-menu-item-link">Services </a>
                        </li>

                        <li class="footer-column-menu-item" role="menuitem">
                            <a href="#" class="footer-column-menu-item-link">Careers</a>
                        </li>
                        <li class="footer-column-menu-item" role="menuitem">
                            <a href="Help.html" class="footer-column-menu-item-link">Help</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-columns">
                    <h1>Resources</h1>
                    <ul class="footer-column-menu" role="menu">
                        <li class="footer-column-menu-item" role="menuitem">
                            <a href="#faq-id" class="footer-column-menu-item-link">FAQs</a>
                        </li>
                        <li class="footer-column-menu-item" role="menuitem">
                            <a href="#" class="footer-column-menu-item-link">Media</a>
                        </li>
                        <li class="footer-column-menu-item" role="menuitem">
                            <a href="#" class="footer-column-menu-item-link">Blog</a>
                        </li>

                    </ul>
                </div>
                <div class="footer-columns">
                    <h1>Information</h1>
                    <ul class="footer-column-menu" role="menu">
                        <li class="footer-column-menu-item" role="menuitem">
                            <a href="AboutUs.html" class="footer-column-menu-item-link">About Us</a>
                        </li>
                        <li class="footer-column-menu-item" role="menuitem">
                            <a href="#" class="footer-column-menu-item-link">Terms of Use</a>
                        </li>
                        <li class="footer-column-menu-item">
                            <a href="#" class="footer-column-menu-item-link" role="menuitem">Legal Information</a>
                        </li>

                    </ul>
                </div>
            </section>

            <section class="horizontal-footer-section" id="footer-bottom-section">
                <div id="footer-copyright-info">
                    &copy; SpeedX Inc. 2022. All rights reserved.
                </div>
                <div id="footer-social-buttons">
                    <img src="https://img.icons8.com/ios-filled/25/999999/facebook--v1.png" />
                    <img src="https://img.icons8.com/ios-filled/25/999999/telegram-app.png" />
                    <img src="https://img.icons8.com/ios-filled/25/999999/pinterest--v1.png" />
                    <img src="https://img.icons8.com/ios-filled/25/999999/instagram--v1.png" />
                </div>
            </section>

        </footer>


    </div>

    <!-- Footer End  -->

    <script src="./static/speedx.js"></script>

</body>

</html>