<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In | SpeedX</title>
  <link rel="stylesheet" href="signin.css">
</head>

<body>
  <script src="signin.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

  <body>
    <div class="cotn_principal">
      <div class="cont_centrar">
        <div class="logo-signin-img">
          <img src="images/SpeedX_free_file1.png" alt="">
        </div>
        <div class="cont_login">
          <div class="cont_info_log_sign_up">
            <!-- LOGIN -->
            <div class="col_md_login">
              <div class="cont_ba_opcitiy">

                <h2>LOGIN</h2>
                <p>Welcome Back!</p>
                <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
              </div>
            </div>
            <!-- SIGNUP -->
            <div class="col_md_sign_up">
              <div class="cont_ba_opcitiy">
                <h2>SIGN UP</h2>


                <p>Hello Friend!</p>

                <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
              </div>
            </div>
          </div>


          <div class="cont_back_info">
            <div class="cont_img_back_grey">
              <img src="images/SignInImg2.jpg" alt="" />
            </div>

          </div>
          <!-- Forms for SignIn and Sign Up-->
          <div class="cont_forms">
            <div class="cont_img_back_">
              <img src="images/SignInImg1.jpg" alt="" style="width: 700px;" />
            </div>
            <div class="cont_form_login">
              <a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
              <h2>LOGIN</h2>
              <input type="number text" placeholder="Email or Mobile No." />
              <input type="password" placeholder="Password" />
              <a href="">Forgot Password</a>
              <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
            </div>

            <div class="cont_form_sign_up">
              <a href="#" onclick="ocultar_login_sign_up()"Email or Mobile No.><i class="material-icons">&#xE5C4;</i></a>
              <h2>SIGN UP</h2>
              <input type="number text" placeholder="Email or Mobile No." />
              <input type="text" placeholder="Username" />
              <input type="password" placeholder="Password" />
              <input type="password" placeholder="Confirm Password" />
              <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>

            </div>

          </div>

        </div>
      </div>
    </div>

    <script src="static/signin.js"></script>

  </body>


</body>

</html>